<h2>
  {{#link-to feedbackTypeRoute communitySlug 1}}{{model.feedback_type}}:{{/link-to}}
  {{model.name}} 
  {{#link-to 'community.edit_feedback' communitySlug model.slug class='edit_feedback_link'}}
    <span class="glyphicon glyphicon-pencil"></span>
  {{/link-to}}
  <a {{action 'destroy' model.slug}} class="remove_feedback_link">
    <span class="glyphicon glyphicon-remove"></span>
  </a>
</h2>

<p>
  <strong>{{model.user_name}}:</strong> {{mood-icon model.mood_type}} {{model.mood_text}}
</p>

<p>
  {{model.text}}
</p>

{{like-or-dislike targetType='Feedback' targetId=model.id positive=model.positive likes=model.likes_count dislikes=model.dislikes_count}}

<h3>{{t 'replies.index.title'}}</h3>

<table class="table">
{{#if anyReplies}}
  {{#each replies as |reply|}}
    <tr>
      <td style="width:150px;">{{reply.user_name}}</td>
      <td style="text-align:right;">{{formatted-datetime reply.created_at}}</td>
    </tr>
    <tr>
      <td></td>
      <td class="reply_text">
        {{reply-cell userId=reply.user_id feedbackId=model.id feedbackSlug=model.slug selectedId=replyId id=reply.id text=reply.text editAction='editReply' leaveEditReplyModeAction='leaveEditReplyMode' reloadAction='reload'}}
        <br/>
        {{like-or-dislike targetType='Reply' targetId=reply.id positive=reply.positive likes=reply.likes_count dislikes=reply.dislikes_count}}
        {{reply-comments replyId=reply.id selectedReplyId=replyId collection=reply.replies editAction='editReply' leaveEditReplyModeAction='leaveEditReplyMode' reloadAction='reload'}}
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr style="margin-top:10px; margin-bottom:10px;"/>
      </td>
    </tr>
  {{/each}}
{{else}}
  <tr>
    <td colspan="2">
      {{t 'replies.index.empty_collection'}}
    </td>
  </tr>
{{/if}}

{{#if newReplyMode}}
  <tr>
    <td style="width:150px;"></td>
    <td>
      {{reply-cell feedbackId=model.id reloadAction='reload' leaveNewReplyModeAction='leaveNewReplyMode'}}
    </td>
  </tr>
{{/if}}
</table>

<a class="new_reply_link" {{action 'newReply'}}>
  <span class="glyphicon glyphicon-plus"></span> {{t 'replies.new.title' }}
</a>

{{partial 'shared/pagination'}}