<form class="simple_form form-vertical" novalidate="novalidate" accept-charset="UTF-8">
  <div class="form-group select optional feedback_feedback_type">
    <label class="select optional control-label control-label" for="feedback_feedback_type">
      {{t 'activerecord.attributes.feedback.feedback_type'}}
    </label>
    <select class="select optional form-control" name="feedback[feedback_type]" id="feedback_feedback_type">
      <option value="Problem">{{t 'feedbacks.show.problem'}}</option>
      <option value="Question">{{t 'feedbacks.show.question'}}</option>
      <option value="Idea">{{t 'feedbacks.show.idea'}}</option>
      <option value="Praise">{{t 'feedbacks.show.praise'}}</option>
    </select>
  </div>
  <div class="form-group string required feedback_name">
    <label class="string required control-label control-label" for="feedback_name">
      <abbr title="required">*</abbr> {{t 'activerecord.attributes.feedback.name'}}
    </label>
    {{input value=name class="string required form-control" type="text" name="feedback[name]" id="feedback_name"}}
  </div>
  <div class="form-group text required feedback_text">
    <label class="text required control-label control-label" for="feedback_text">
      <abbr title="required">*</abbr> {{t 'attributes.text'}}
    </label>
    {{textarea value=text class="text required form-control" name="feedback[text]" id="feedback_text"}}
  </div>
  <fieldset class="form-inline">
    <div class="form-group radio_buttons optional feedback_mood_type">
      <label class="radio_buttons optional control-label control-label">
        {{t 'activerecord.attributes.feedback.mood_type'}}
        &nbsp;&nbsp;
      </label>
      <span class="radio">
        <label for="feedback_mood_type_0">
          <input class="radio_buttons optional" type="radio" value="0" name="feedback[mood_type]" id="feedback_mood_type_0" /> 
          &nbsp;&nbsp;
          <img src="http://twemoji.maxcdn.com/72x72/1f600.png" style="width:32px; height:32px;"/>
          &nbsp;&nbsp;
        </label>
      </span>
      <span class="radio">
        <label for="feedback_mood_type_1">
          <input class="radio_buttons optional" type="radio" value="1" name="feedback[mood_type]" id="feedback_mood_type_1" />
          &nbsp;&nbsp;
          <img src="http://twemoji.maxcdn.com/72x72/1f60b.png" style="width:32px; height:32px;"/>
          &nbsp;&nbsp;
        </label>
      </span>
      <span class="radio">
        <label for="feedback_mood_type_2">
          <input class="radio_buttons optional" type="radio" value="2" name="feedback[mood_type]" id="feedback_mood_type_1" />
          &nbsp;&nbsp;
          <img src="http://twemoji.maxcdn.com/72x72/1f610.png" style="width:32px; height:32px;"/>
          &nbsp;&nbsp;
        </label>
      </span>
      <span class="radio">
        <label for="feedback_mood_type_3">
          <input class="radio_buttons optional" type="radio" value="3" name="feedback[mood_type]" id="feedback_mood_type_1" />
          &nbsp;&nbsp;
          <img src="http://twemoji.maxcdn.com/72x72/1f61f.png" style="width:32px; height:32px;"/>
          &nbsp;&nbsp;
        </label>
      </span>
    </div>
    <div class="form-group string optional feedback_mood_text">
      <label class="string optional control-label control-label" for="feedback_mood_text">
        {{t 'activerecord.attributes.feedback.mood_text'}}
      </label>
      &nbsp;&nbsp;
      {{input value=moodText class="string optional form-control" type="text" name="feedback[mood_text]" id="feedback_mood_text"}}
    </div>
  </fieldset>
  
  <p></p>
  
{{#if slug}}
  <input type="submit" name="commit" value="{{t 'feedbacks.update.title' true }}" class="btn btn-default" {{action 'save'}}/>
{{else}}
  <input type="submit" name="commit" value="{{t 'feedbacks.create.title' true }}" class="btn btn-default" {{action 'save'}}/>
{{/if}}
</form>